<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php cgi phtml" path="*.phtml" verb="*" modules="FastCgiModule"  scriptProcessor="C:\Program Files (x86)\Parallels\Plesk\Additional\PleskPHP5\php-cgi.exe" resourceType="File" />
            <add name="PHP3 CGI" path="*.php3" verb="*" modules="FastCgiModule"   scriptProcessor="C:\Program Files (x86)\Parallels\Plesk\Additional\PleskPHP5\php-cgi.exe" resourceType="File" />
            <add name="PHP CGI" path="*.php" verb="*" modules="FastCgiModule"   scriptProcessor="C:\Program Files (x86)\Parallels\Plesk\Additional\PleskPHP5\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
